<div class="container mt-4 m-2">
  <h1 class="d-flex" style="color: #006600; font-size: 2rem; font-weight: bold; margin-bottom: 30px; position: relative;">
    <%= "No pares de aprender, #{current_user.name.split.first}!" %>
  </h1>

  <div class="accordion" id="tasksAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingInProgress">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInProgress" aria-expanded="true" aria-controls="collapseInProgress">
          Tareas en Progreso
        </button>
      </h2>
      <div id="collapseInProgress" class="accordion-collapse collapse show" aria-labelledby="headingInProgress" data-bs-parent="#tasksAccordion">
        <div class="accordion-body">
        <% @tasks.select { |task| task.status == 'in_progress' }.each_with_index do |task, index| %>
          <%= link_to task_path(task), class: 'text-decoration-none' do %>
            <h6><%= task.name %></h6>
          <% end %>
          <% if index < @tasks.select { |task| task.status == 'in_progress' }.size - 1 %>
            <hr style="margin: 0.5rem 0;">
          <% end %>
        <% end %>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFinished">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinished" aria-expanded="false" aria-controls="collapseFinished">
          Tareas Completadas
        </button>
      </h2>
      <div id="collapseFinished" class="accordion-collapse collapse" aria-labelledby="headingFinished" data-bs-parent="#tasksAccordion">
        <div class="accordion-body">
          <% @tasks.select { |task| task.status == 'finished' }.each do |task| %>
            <%= link_to task_path(task), class: 'text-decoration-none' do %>
              <div class="card mb-3 border-0 rounded-3 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= task.name %>
                  </h5>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
