<div class="container mt-4" style="max-width: 800px; margin: auto;">
  <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    <div class="card-body" style="padding: 2rem;">
      <% if @task.task_type == 'multi_choice' && !@task.is_finished %>
        <div id="question-container">
          <% @multi_choice_questions.each_with_index do |question, index| %>
            <div class="question-item <%='d-none' unless index == 0 %>" data-index="<%= index %>" data-id="<%= question.id %>" data-correct-answer="<%= question.correct_answer %>" style="padding: 1rem; background-color: #f4f6f6; border-radius: 8px; margin-bottom: 1rem;">
              <div class="question-header" style="margin-bottom: 1rem; text-align: center;">
                <h6 style="font-weight: bold; color: #004d00;">
                  Pregunta <%= index + 1 %> de <%= @multi_choice_questions.length %>
                </h6>
              </div>
              <h5 class="mb-3" style="font-weight: 700;"><%= question.question %></h5>
              
              <div class="form-check" style="margin-bottom: 0.75rem;">
                <input class="form-check-input" type="radio" name="choice_<%= index %>" id="choice1_<%= index %>" value="<%= @questions_with_choices[question.id][:choice1]['value'] %>">
                <label class="form-check-label" for="choice1_<%= index %>" style="font-size: 1rem;">
                  <%= @questions_with_choices[question.id][:choice1]['value'] %>
                </label>
              </div>
              
              <div class="form-check" style="margin-bottom: 0.75rem;">
                <input class="form-check-input" type="radio" name="choice_<%= index %>" id="choice2_<%= index %>" value="<%= @questions_with_choices[question.id][:choice2]['value'] %>">
                <label class="form-check-label" for="choice2_<%= index %>" style="font-size: 1rem;">
                  <%= @questions_with_choices[question.id][:choice2]['value'] %>
                </label>
              </div>
              
              <div class="form-check" style="margin-bottom: 0.75rem;">
                <input class="form-check-input" type="radio" name="choice_<%= index %>" id="choice3_<%= index %>" value="<%= @questions_with_choices[question.id][:choice3]['value'] %>">
                <label class="form-check-label" for="choice3_<%= index %>" style="font-size: 1rem;">
                  <%= @questions_with_choices[question.id][:choice3]['value'] %>
                </label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" name="choice_<%= index %>" id="choice4_<%= index %>" value="<%= @questions_with_choices[question.id][:choice4]['value'] %>">
                <label class="form-check-label" for="choice4_<%= index %>" style="font-size: 1rem;">
                  <%= @questions_with_choices[question.id][:choice4]['value'] %>
                </label>
              </div>
            </div>
          <% end %>
        </div>

        <div style="text-align: center; margin-top: 2rem;">
          <button id="next-btn" class="btn btn-primary">Siguiente</button>
          <button id="skip-btn" class="btn btn-danger">Saltar</button>
        </div>
      <% elsif @task.is_finished %>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Resultados de la Tarea</h5>
            <% total_questions = @multi_choice_questions.count %>
            <% incorrect_answers = @task.wrong_counter %>
            <% correct_answers = total_questions - incorrect_answers %>
            <% success_rate = (correct_answers.to_f / total_questions * 100).round(2) %>

            <p class="card-text">
              <strong>Correctas:</strong> <%= correct_answers %><br>
              <strong>Incorrectas:</strong> <%= incorrect_answers %><br>
              <strong>Porcentaje de acierto:</strong> <%= success_rate %>%
            </p>

            <div class="text-center mt-4">
              <a href="/tasks" class="btn" style="background-color: #004d00;">Volver al índice de tareas</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

function showCustomAlert(message) {
    const alertContainer = document.createElement('div');
    alertContainer.classList.add('alert-js'); 
    alertContainer.textContent = message;

    document.body.appendChild(alertContainer);

    setTimeout(() => {
        alertContainer.remove();
    }, 6000); 
}

document.addEventListener('turbo:load', () => {
  const questions = document.querySelectorAll('.question-item');
  const nextBtn = document.getElementById('next-btn');
  const skipBtn = document.getElementById('skip-btn');
  let currentIndex = 0;
  let correctAnswers = 0;
  let wrongAnswers = 0;
  let taskFinished = false;

  function showQuestion(index) {
    questions.forEach((q, i) => {
      q.classList.toggle('d-none', i !== index);
    });
  }

  nextBtn.addEventListener('click', () => {
    if (taskFinished) return;

    const selectedOption = document.querySelector(`input[name="choice_${currentIndex}"]:checked`);

    if (!selectedOption) {
      showCustomAlert('Por favor, selecciona una respuesta.');
      return;
    }

    const questionElement = questions[currentIndex];
    const selectedChoice = selectedOption.value;
    const correctAnswer = questionElement.dataset.correctAnswer;
    const questionId = questionElement.dataset.id;

    let isCorrect = selectedChoice === correctAnswer;
    const correctAnswersCount = isCorrect ? correctAnswers++ : wrongAnswers++;
    fetch(`/multi_choice_answers`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
      },
      body: JSON.stringify({
        multi_choice_answer: {
          user_id: <%= current_user.id %>,
          multi_choice_question_id: questionId,
          selected_choice: selectedChoice,
          is_correct: isCorrect
        }
      })
    });

    if (isCorrect) {
      showCustomAlert("Respuesta correcta! ✅");
    } else {
      showCustomAlert("Respuesta incorrecta! ❌");
    }

    currentIndex++;

    if (currentIndex < questions.length) {
      showQuestion(currentIndex);
      nextBtn.textContent = 'Siguiente';
    } else {
      taskFinished = true;
      fetch(`/tasks/${<%= @task.id %>}/finish`, { 
        method: 'POST', 
        body: JSON.stringify({ correctAnswers, wrongAnswers }),
        headers: { 'Content-Type': 'application/json' }
      }).then(() => {
        nextBtn.style.display = 'none';
        skipBtn.style.display = 'none';

        const resultCard = document.createElement('div');
        resultCard.className = 'card mt-4';
        resultCard.innerHTML = `
          <div class="card-body">
            <h5 class="card-title">Resultados de la Tarea</h5>
            <p class="card-text">
              <strong>Correctas:</strong> ${correctAnswers}<br>
              <strong>Incorrectas:</strong> ${wrongAnswers}<br>
              <strong>Porcentaje de acierto:</strong> ${(correctAnswers / questions.length * 100).toFixed(2)}%
            </p>
            <div class="text-center mt-4">
              <a href="/tasks" class="btn btn-primary">Volver al índice de tareas</a>
            </div>
          </div>
        `;
        document.querySelector('.card-body').appendChild(resultCard);
      });
    }
  });

  skipBtn.addEventListener('click', () => {
    if (taskFinished) return;

    const totalQuestions = questions.length;
    wrongAnswers = totalQuestions;

    fetch(`/tasks/${<%= @task.id %>}/skip`, { 
      method: 'POST', 
      body: JSON.stringify({ wrongAnswers }), 
      headers: { 'Content-Type': 'application/json' } 
    }).then(() => {
      taskFinished = true;
      nextBtn.style.display = 'none';
      skipBtn.style.display = 'none';

      const resultCard = document.createElement('div');
      resultCard.className = 'card mt-4';
      resultCard.innerHTML = `
        <div class="card-body">
          <h5 class="card-title">Resultados de la Tarea</h5>
          <p class="card-text">
            <strong>Correctas:</strong> 0<br>
            <strong>Incorrectas:</strong> ${totalQuestions}<br>
            <strong>Porcentaje de acierto:</strong> 0%
          </p>
          <div class="text-center mt-4">
            <a href="/tasks" class="btn btn-primary">Volver al índice de tareas</a>
          </div>
        </div>
      `;
      document.querySelector('.card-body').appendChild(resultCard);
    });
  });
});

</script>
