<div style="text-align: center;">
  <h1 style="color: #004d00; font-size: 3.5rem; font-weight: bold; margin-top: 20px">
    Progreso de <%= @user.name %>
  </h1>

  <!-- Último ingreso -->
  <p style="color: #666; font-size: 1.25rem; margin-top: 10px;">
    <% user_view = User.find(@user_id) %>
    
    Último ingreso: 
    <% if user_view.current_sign_in_at.present? %>
      <%= user_view.current_sign_in_at.in_time_zone('America/Santiago').strftime('%d/%m/%Y %H:%M') %>
    <% else %>
      No disponible
    <% end %>
    <br>
  
    <% if user_view.current_sign_in_at.present? %>
      <% tiempo_uso = user_view.current_sign_in_at - user_view.created_at %>
      <% minutos_uso = (tiempo_uso / 60).to_i %>
      <% horas_uso = (tiempo_uso / 1.hour).to_i %>
      Tiempo de uso: <%= horas_uso %> horas
    <% else %>
      Tiempo de uso: No disponible
    <% end %>
  </p>

    <!-- Ultimo task  -->
    <div class="container mt-4" style="max-width: 700px; margin: 0 auto;">
    <% last_answer = MultiChoiceAnswer.where(user_id: user_view.id).order(created_at: :desc).first %>
    <% if last_answer.present? %>
      <% last_question = MultiChoiceQuestion.find_by(id: last_answer.multi_choice_question_id) %>
      <% if last_question.present? %>
        <% last_task = last_question.task.name %>
          <div style="background-color: #28a745; border-radius: 10px; padding: 20px; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
            <h2 style="font-size: 2rem; font-weight: 700;">Última tarea realizada</h2>
            <p style="font-size: 1.25rem;"><%= last_task %></p>
            <p><strong style="font-size: 1.25rem;">
              <%= last_question.question %>
            </strong></p>
            <strong style="font-size: 1.25rem; color: <%= last_answer.is_correct ? '#004d00' : '#4d0000' %>;">
              <%= last_answer.selected_choice %>
            </strong> 
            <% if last_answer.is_correct %>
              <p class="mt-4">✅</p>
            <% else %>
              <p class="mt-4">❌</p>
            <% end %>
          </div>
        <% else %>
        <p>No se encontró la pregunta asociada.</p>
      <% end %>
    <% else %>
      <p>No hay tareas realizadas.</p>
    <% end %>   

  <!-- Progreso Global -->

    <div style="background-color: #28a745; border-radius: 10px; padding: 20px; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
      <h2 style="font-size: 2rem; font-weight: 700;">Progreso Global</h2>
      <p style="font-size: 1.25rem;">Score: <%= @user_progress_global.score %></p>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle" style="margin-top: 10px;">
        <path d="M9 11l3 3L22 4"></path>
        <circle cx="12" cy="12" r="10"></circle>
      </svg>
    </div>

    <!-- Velocidad -->
    <div style="background-color: #28a745; border-radius: 10px; padding: 20px; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
      <h2 style="font-size: 2rem; font-weight: 700;">Velocidad de Aprendizaje</h2>
      <% if minutos_uso.present? %>
        <p style="font-size: 1.25rem;"><%= (@user_progress_global.score / minutos_uso.to_f).round(2) %> preguntas corrrectas por minuto</p>
      <% else %>
        <p style="font-size: 1.25rem;">No hay datos</p>
      <% end %>
    </div>

    <!-- Progreso por Curso -->
    <% [@course1, @course2, @course3, @course4, @course5].each_with_index do |course, index| %>
      <% progress = instance_variable_get("@user_progress_course#{index + 1}") %>
      <div style="background-color: #004d00; border-radius: 10px; padding: 20px; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
        <h2 style="font-size: 1.5rem; font-weight: 600;">Progreso en '<%= course.name %>'</h2>
        <p style="font-size: 1.25rem;">Progreso: <%= progress.progress %></p>
        <span style="font-size: 30px; margin-top: 10px;">
          <%= progress.progress < 8 ? '❌' : '✅' %>
        </span>
      </div>
    <% end %>


  </div>