<div class="container mt-4">
  <div class="container" style="display: flex; flex-direction: column; align-items: center">

    <% course1 = Course.find_by(name: 'Diagramas de Cuerpo Libre') %>
    <% course2 = Course.find_by(name: 'Vínculos Externos e Internos') %>
    <% course3 = Course.find_by(name: 'Condiciones de Equilibrio y Estabilidad') %>
    <% course4 = Course.find_by(name: 'Tipos de fuerzas más comunes') %>
    <% course5 = Course.find_by(name: 'Rozamiento y Poleas') %>

    <% user_course1 = UserCourse.find_by(user_id: current_user.id, course_id: course1.id) %>
    <% user_course2 = UserCourse.find_by(user_id: current_user.id, course_id: course2.id) %>
    <% user_course3 = UserCourse.find_by(user_id: current_user.id, course_id: course3.id) %>
    <% user_course4 = UserCourse.find_by(user_id: current_user.id, course_id: course4.id) %>
    <% user_course5 = UserCourse.find_by(user_id: current_user.id, course_id: course5.id) %>

    <% if current_user.role == 'teacher' %>
      <% course3_enabled = course4_enabled = course5_enabled = true %>
    <% else %>
      <% course3_enabled = user_course1.progress > 7 && user_course2.progress > 7 %>
      <% course4_enabled = course3_enabled && user_course3.progress > 7 %>
      <% course5_enabled = course4_enabled && user_course4.progress > 7 %>
    <% end %>

    <% @courses.each_with_index do |course, index| %>
      <% user_course = UserCourse.find_by(user_id: current_user.id, course_id: course.id) %>

      <% if (course.id == course1.id || course.id == course2.id) || 
           (course.id == course3.id && course3_enabled) || 
           (course.id == course4.id && course4_enabled) || 
           (course.id == course5.id && course5_enabled) || current_user.role == 'teacher' %>

        <div class="course-card" style="background-color: #28a745; border-radius: 10px; padding: 20px; display: flex; justify-content: space-between; align-items: center; color: white; width: 100%; max-width: 700px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px; cursor: pointer;" onclick="toggleTasks(<%= index %>)">
          <div class="course-header" style="flex: 1;">
            <h2 style="font-size: 2rem; margin-bottom: 10px; font-weight: 700">
              <%= course.name %> 
              <span style="margin-left: 5px; font-weight: 800"><%= [UserCourse.find_by(user_id: current_user.id, course_id: course.id).progress * 10, 100].min %>%</span>
            </h2>
            <p class="course-description" style="font-size: 1rem; margin-bottom: 15px; margin-right: 10px"><%= course.description %></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 16 16">
              <path d="M1.5 5.5l7 7 7-7H1.5z"/>
            </svg>
          </div>
        </div>

        <div id="tasks-<%= index %>" class="game-path" style="display: block; margin-bottom: 20px;">
          <% course.tasks.each_with_index do |task, task_index| %>
            <% if task.multi_choice_questions.any? || task.numeric_question %>
            <div class="task-node">
              <div class="task-connector"></div>

              <% user_task = UserTask.find_by(user_id: current_user.id, task_id: task.id) %>
              <% is_finished = user_task.present? && user_task.is_finished %>
              <% numeric_questions = NumericQuestion.where(task_id: task.id) %>
              <% link_path = task.task_type == 'multi_choice' ? task_path(task) : (numeric_questions.first.present? ? numeric_question_path(numeric_questions.first) : '#') %>

              <% if is_finished %>
                <div class="task-circle task-completed" style="pointer-events: none;">
                  ✓
                </div>
              <% else %>

              <%= link_to link_path, class: 'task-link numeric-question-button' do %>
                <div class="task-circle task-in-progress">
                  <%= task_index + 1 %>
                </div>
              <% end %>              
            <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="course-card" style="background-color: #71717a; border-radius: 10px; padding: 20px; display: flex; justify-content: space-between; align-items: center; color: white; width: 100%; max-width: 700px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
          <div class="course-header" style="flex: 1;">
            <h2 style="font-size: 2rem; margin-bottom: 10px; font-weight: 700"><%= course.name %></h2>
            <p style="color: lightgray;">Este curso no está habilitado. Debes tener mínimo 80% de progreso en los módulos anteriores.</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 16 16">
              <path d="M2.5 0l1 1h9l1-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zm0 1v1h11v-1h-11zM0 3v10h16V3H0zm1 1h14v8H1V4z"/>
            </svg>
          </div>
        </div>

        <!-- Ocultar las tareas para cursos deshabilitados -->
        <div id="tasks-<%= index %>" class="game-path" style="display: none; margin-bottom: 20px;">
          <% course.tasks.each_with_index do |task, task_index| %>
            <div class="task-node">
              <div class="task-connector"></div>
              <p style="color: gray;">Tareas no disponibles.</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  document.querySelectorAll('.numeric-question-button').forEach(function(button) {
    button.onclick = function() {
      setTimeout(function() {
        window.location.reload();
      }, 1000);
    };
  });

  function toggleTasks(index) {
    var tasksDiv = document.getElementById('tasks-' + index);
    tasksDiv.style.display = tasksDiv.style.display === 'none' ? 'block' : 'none';
  }
</script>