<div class="container mt-4" style="max-width: 800px; margin: auto;">
  <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    <div class="card-body" style="padding: 2rem;">
      <div id="question-container">

<% if @diagram == 'template1' %>
<h5 class="mb-3" style="font-weight: 700;"><%= @question_text_1 %></h5>
    <p>Considere la respuesta en N (<%= @numeric_question.correct_answer %>)</p>
 <div class="container text-center mt-3 mb-5">
  <%= render 'templates/template1' %>
</div>
<% elsif @diagram == 'template2' %>
<h5 class="mb-3" style="font-weight: 700;"><%= @question_text_2 %></h5>
  <p>Considere la respuesta en N (<%= @numeric_question.correct_answer %>)</p>
  <div class="container text-center mt-3 mb-5">
    <%= render 'templates/template2' %>
  </div>
<% elsif @diagram == 'template7' %>
<h5 class="mb-3" style="font-weight: 700;"><%= @question_text_7 %></h5>
  <p>Considere la respuesta en N (<%= @numeric_question.correct_answer %>)</p>
  <div class="container text-center mt-3 mb-5">
    <%= render 'templates/template7' %>
  </div>
<% end %>

<div class="d-flex justify-content-center align-items-center mb-5">
  <%= form_with url: submit_answer_numeric_question_path(@numeric_question), method: :post do %>
  <div class="d-flex align-items-center">
    <div class="form-group mb-0">
      <%= text_field_tag :user_answer, nil, class: 'form-control', placeholder: 'Ingresa tu respuesta:', style: 'border: 1px solid black; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)' %>
    </div>
    <div class="form-group mb-0 ms-2">
      <%= text_field_tag :unit_of_measurement, nil, class: 'form-control', placeholder: 'Unidad de medida:', style: 'border: 1px solid black; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)' %>
    </div>
    
    <button type="submit" class="btn" style="border: 1px solid black; background: none; cursor: pointer; margin-left: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24">
        <path d="M10 14L12.2728 19.3032C12.5856 20.0331 13.5586 20.1103 13.9486 19.4185C14.7183 18.0535 15.8591 15.8522 17 13C19 8 20 4 20 4C20 4 16 5 11 7C8.14784 8.14086 5.94647 9.28173 4.58149 10.0514C3.88975 10.4414 3.96687 11.4144 4.69678 11.7272L10 14Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
  <% end %>
</div>